[2018-08-07 21:17] #1749 closed

[2018-08-10 15:38] #1724 closed

[2018-08-17 18:17] bailsp opened #1751 "Heap corruption after several start/stops of the replicator"
I have been experiencing this problem on both non-continuous and continuous replicators. I have an application that requires users to sign in, authenticates using session id, starts a continuous replicator. When the user signs out, the replicator is stopped. The problem arises when a user has logged in (starting a replicator), logged out (stopped a replicator), then logs back in (starts a new repl

[2018-08-19 08:04] MG-Tawfeek opened #1752 "2.0 : Android & Couchbase Lite >> Crash on open of Existing Database"
As far As I understand CBL 2 ,
This Code should create The DB at first run , now if the app is restarted .. This same code should
open the existing DB .
But I always get crash after crash

`
conf = DatabaseConfiguration(applicationContext)
conf.directory = applicationContext.filesDir.absolutePath
my_DB = Database("mydb", conf)

`

I Tested this on android 4.4 GennyMotion emulator & real device ..

[2018-08-19 20:41] pasin commented on #1752
What is the crash error or exception?

[2018-08-20 02:15] MG-Tawfeek commented on #1752
I wish there is any clear thing to trace here but here is what I get
First 2 lines are print statements I do

`08-19 22:09:16.149 1835-1835/mobo.cyf.couchbase_localdb I/System.out: >>>>>>>>>>>>>>>>>>>>>> Found The DataBase <<<<<<<<<<<<<<<<<<<<<<<

08-19 22:09:16.150 1835-1835/mobo.cyf.couchbase_localdb I/DB: CouchbaseLite/2.0.0-457 (Java; Android 7.0; Custom Tablet - 7.0.0 - API 24 - 1536x2048) Bu

[2018-08-20 05:04] pasin commented on #1752
This is strange. It crashed when doing secure random. However if the database already exists, it shouldn't try to generate the database's UUID again.

[2018-08-20 05:43] MG-Tawfeek commented on #1752
Thank you for your help
at least i'm not insane .

I'm trying to test Couchbase Lite for a big solution and It's very frustrating that I can't even start to work with it , but this scenario is what we need .
Create the DB if it's not there
If it's there , open it and make some queries .

Reproducing the problem takes only the above 3 lines in the initial Post .
There is also another issue I encoun

[2018-08-20 06:13] pasin commented on #1752
I have just tested with the stock emulator (Nexus 6 API 24, Android 7.0, x86), but I couldn't reproduce the issue. I also didn't set the directory to the DatabaseConfiguration. DatabaseConfiguration does the exact same thing same as `conf.directory = applicationContext.filesDir.absolutePath` when setting with the context (see this [line](https://github.com/couchbase/couchbase-lite-android/blob/rel

[2018-08-20 06:46] MG-Tawfeek commented on #1752
Hello
I did test on a device , So I don't think it's Gennymotion .
Android Versions maybe involved in that ? I test with minsSdkVersion 19

Here is the Test Project , so simple
If you run on 6+ , You may need to setup the permissions to write(or make sure they are set)
[Couchbase_LocalDB.zip](https://github.com/couchbase/couchbase-lite-android/files/2301373/Couchbase_LocalDB.zip)

Thanks

[2018-08-20 07:03] MG-Tawfeek commented on #1752
I get the same crash when I execute your code in a java  project .
I have an AMD processor , could that be of any relevance ?

[2018-08-20 12:12] bailsp commented on #1751
@pasin @borrrden

Any update on this?

[2018-08-20 18:55] pasin commented on #1752
I couldn't configure your project to run with Android Studio 3.1.2 on my Mac. What Android Studio version, Compile Sdk Version and Build Tools Version you are using?

I'm using the following and android studio keeps asking "Please configure Android SDK". There are some compatibility.

This is my env:
Compile Sdk Version: API 27: Android 8.1 (Oreo)
Build Tools Version: 27.0.3

[2018-08-20 18:56] pasin commented on #1752
What do you mean by Java project? Do you mean Java SDK project? CBL only supports Android not Pure Java yet.

[2018-08-21 00:59] bailsp commented on #1751
@borrrden it’s roughly 27 mb, I think the limit is 10mb. When I get to the office tomorrow morning I’ll upload it to another file sharing site

[2018-08-21 01:55] pasin commented on #1752
OK, finally I was able to build and run the project. The trick was to remove .idea folder.

I commented the following line as it's not correct.
[code]

Anyway I was not able to reproduce the issue. I clicked the button many times. I'm using a couple of android emulator. See the log here:

[code]

I don't have Gennymotion. I don't think it's related to AMD processor on your machine. Can you reprodu

[2018-08-21 05:53] MG-Tawfeek commented on #1752
Thank you So much for your Great Help .
With the effort you made I'm able to confirm that It's Genymotion issue , not specific to couchbase .
As I've told you earlier , I did test on a Device and I got a Crash .
but after updating everything in my Android Studio .. SDKs .. etc , I was able to run with no issues on a real Samsung device , but on Genymotion , Still I'm getting a Crash .

As for open

[2018-08-21 05:53] #1752 closed

[2018-08-21 11:59] bailsp commented on #1751
@borrrden

I've uploaded it to my Dropbox

https://www.dropbox.com/s/g6v1pg6yhvumdtw/couchbasecrash.zip?dl=0

[2018-08-21 13:40] borrrden commented on #1751
You could have easily trimmed the size way down by deleting the "build" folder before zipping it (just something to keep in mind).

How many times do I have to repeat the start and stop?  I deployed it to my ARM device (API 23) and was able to hit start and stop around 15 times with no incident.  I changed the version to 2.0.2 and the compile SDK to 27 but other than that it is the same.

[2018-08-21 13:59] bailsp commented on #1751
@borrrden

Deploy it to a device that is running API 19 and a armeabi-v7a arch.

Galaxy Nexus API 19 (Android 4.4.2, API 19) Emulator is a confirmed device that has been crashing

[2018-08-21 18:07] #1523 closed

[2018-08-21 22:04] borrrden commented on #1751
I am able to reproduce on both arm and x86 emulators for API19 with the 2.1.0 RC, but not on API21.  This issue is too late to make it into 2.1, but we should be able to figure something out by building with the address sanitizer.  It somewhat makes sense to me about API19 only as opposed to 19 - 22 since there was a JVM switch that happened in API21.

As far as "SNAPSHOT" goes I'm not convinced t

[2018-08-22 01:14] bailsp commented on #1751
So will The wait time for a release with the fix be months down the road?

[2018-08-22 07:56] borrrden commented on #1751
For a GA release, that is likely to be the case.  I imagine there will be a few preview releases before the GA release though, and as always this code is open source so you are welcome to build it yourself as well (maybe patch just the fix onto the 2.1 release commit).

[2018-08-28 19:55] pasin commented on #1751
ffc = fix-for-customer. It's an internal flag to indicate that the issue is reported by a customer.

[2018-08-29 03:49] nuxzero opened #1753 "Can not delete database in testing"
I tried to delete the database after test in `@TearDown` but doesn't work. I didn't use Sync Gateway I think should not have the problem with `Replication `.

 Error log:

[code]

My code:

[code]
--------
* Version:   2.0.0
* Client OS: Android
* Server:    -

[2018-08-29 04:49] pasin commented on #1753
@nuxzero I'm not able to use the code snippet above to reproduce the issue. The error generally means that there are some other components/processes/threads holding the (SQLite) database connections. Can you provide reproducible database usage scenario that causes the error when deleting the database in tear down?

[2018-08-30 06:59] nuxzero opened #1754 "Concat query not working"
Not sure why when concat the query after the query created not working?

[code]

But if group I add `limit()` in creating the query it work fine.

[code]

Do you have another way to deal with the concating query after the query created?

[2018-08-30 15:11] pasin commented on #1754
When calling .from(), .where(), .limit(), and etc, a new query object returns. Try this:

[code]

Or you could execute the query right away after calling limit:

[code]

As this is not an issue. I will close the issue.

[2018-08-30 15:11] #1754 closed

[2018-09-02 04:14] gsdigital2017 opened #1755 "Query enumeration error: LiteCoreException"
According to the docs, following is the code snippet on Query. **This is not working and gives Query enumeration error: LiteCoreException{domain=5, code=2, msg=array/iterator index out of range: iterating past end of array}**

Query query = QueryBuilder
    .select(SelectResult.expression(Meta.id),
        SelectResult.property("name"),
        SelectResult.property("type"))
    .from(DataSource.d

[2018-09-05 04:28] pasin opened #1756 "2.0 Replicator does not work with TLS 1.2 when using Android API <= 19"
Originally reported in #1635 with CBL 1.4 that Android API <= 19 does not enable TLS 1.2. CBL 2.0 also has the same problem.

[2018-09-05 21:08] #1635 closed

[2018-09-05 21:49] pasin commented on #1048
I have reviewed the code and the only scenario that the store variable is null is when the database is closed. @vicpinm and @PaoloneM if this issue is still a concern, could you please check if the database has been closed or not. Attaching the log file with Database and Sync Verbose enabled will be really helpful.

[2018-09-05 22:26] #994 closed

[2018-09-05 22:45] pasin commented on #1684
I'm closing this issue as no activities. If the issue is still a concern, please report back and we can reopen the issue. Thanks.

[2018-09-05 22:45] #1684 closed

[2018-09-06 02:02] lyhyesther commented on #664
I have the same issue.

android.database.sqlite.SQLiteFullException: database or disk is full (code 13)
	at android.database.sqlite.SQLiteConnection.nativeExecuteForLastInsertedRowId(Native Method)
	at android.database.sqlite.SQLiteConnection.executeForLastInsertedRowId(SQLiteConnection.java:782)
	at android.database.sqlite.SQLiteSession.executeForLastInsertedRowId(SQLiteSession.java:788)
	at andr

[2018-09-06 04:32] #1756 closed

[2018-09-06 04:45] pasin commented on #1755
For some reason, I'm not able to reproduce the issue. Also the [QueryTest](https://github.com/couchbase/couchbase-lite-android/blob/master/android/CouchbaseLite/src/androidTest/java/com/couchbase/lite/QueryTest.java#L72-L79) has always verified the fast iteration with the ResultSet.

Is it possible that the ResultSet has been iterated more than one time or the ResultSet.next() is called before usi

[2018-09-06 08:06] gsdigital2017 commented on #1755
I encountered the following thread.

https://github.com/couchbase/couchbase-lite-android/issues/1604

Check the comment from the bottom.

[2018-09-18 06:03] betaCode95 commented on #1127
HI @trr-amsiq ,
Is there a fix for this? I am facing issues due to this as many times data is not getting written to the db. On 1.4.0, the version 2.0.0 has min sdk 19, so can't move to that.

[2018-09-18 06:13] betaCode95 opened #1757 "CouchbaseLiteException while adding data"
`Exception: com.couchbase.lite.CouchbaseLiteException
       at com.couchbase.lite.store.SQLiteStore.add(SourceFile:1468)
       at com.couchbase.lite.Database.put(SourceFile:1996)
       at com.couchbase.lite.Database.putRevision(SourceFile:1943)
       at com.couchbase.lite.Database.putRevision(SourceFile:1934)
       at com.couchbase.lite.Document.putProperties(SourceFile:526)
       at com.cou

[2018-09-18 08:06] RocketRider commented on #1678
Why is this a EE Feature in 2.1? It was free in 1.4.
Is it possible to implement a own peer to peer sync in the community edition?

[2018-09-18 09:08] trr-amsiq commented on #1127
@betaCode95 I had too many issues with Couchbase so I migrated to Realm. Sorry

[2018-09-18 17:32] pasin commented on #1757
@betaCode95 Can you provide reproducible steps? Normally CouchbaseLiteException has status code and message; could you share that as well? Thanks!

[2018-09-18 17:39] pasin commented on #1127
@betaCode95 @hideki's answer is correct. If you can share the log with Database logging, I could confirm if that is the case or not. We may be able to increate the max retry attempts and wait times in CBL if it makes sense.

[2018-09-18 18:10] rajagp commented on #1678
@RocketRider While not a hard and fast rule, very broadly, our motivation behind EE features is to support business critical applications. These applications impose high demands on scalability, availability, security and performance.  Our p2p solution ensures availability  in disconnected environments.  The 2.x version of our p2p solution is completely different from 1.x in that we are now transpo

[2018-09-19 07:07] geraldapeoples commented on #1678
That is a worrying economic argument, if you make on device encryption available on mobile then you will lose revenue and hence not be able to afford to keep the open source project going? Paying the license requires a significant customer base, a significant customer base requires a investment in a product that will appeal to enterprises and that requires enterprise features ... after a significa

[2018-09-20 05:47] Fenil15 commented on #942
Usign filter params in query string is not a correct way to implement at query string has its own limitation. Instead one should use selector instead of filter if you are using CouchDB Server 2.0 and above. Only thing you need to make sure at your client side is, set the filter name = _selector and in filter params, pass params in following format -

    {
      "selector": {
        "key_name_to_

[2018-09-20 14:08] mmueller-abacus opened #1758 "Release 1.x (1.4.4)?"
Hello,

When will the next 1.x version be released?
Thank you.

[2018-09-20 14:12] rajagp commented on #1758
We are actively working on 1.4.4 maintenance release that should hopefully be out within the  next month or so. Is there a specific bug fix that you were looking for in this release ?

Also, for future, please use our [developer forums](https://forums.couchbase.com) for similar questions for clarifications . The GitHub repo is mainly for tracking issues.

[2018-09-20 14:35] mmueller-abacus commented on #1758
Waiting for #994
Thank you.

[2018-09-20 15:13] rajagp commented on #1758
Thanks for the info on the bug of interest (CC @pasin ).

[2018-09-20 15:13] #1758 closed

[2018-09-24 08:54] brije111 opened #1759 "No serializer found for class com.couchbase.lite.Blob$BlobInputStream"
I'm using couchbase lite 2.1.0, I posted data on server with an attachment as Blob and I try to read & convert it to POJO, I get this error

`java.lang.IllegalArgumentException: No serializer found for class com.couchbase.lite.Blob$BlobInputStream and no properties discovered to create BeanSerializer (to avoid exception, disable SerializationFeature.FAIL_ON_EMPTY_BEANS) ) (through reference chain:

[2018-09-24 18:18] pasin commented on #1759
I'm not familiar with Jackson but think Blob class requires to have a custom serializer. I just googled it and found this [link](https://www.baeldung.com/jackson-custom-serialization) on the first result.

[2018-09-24 18:19] pasin commented on #1759
As this is not an issue, I will close the issue. You can ask questions on https://forums.couchbase.com.

[2018-09-24 18:19] #1759 closed

[2018-09-24 18:35] djpongh commented on #1757
@betaCode95, any more info on this?

[2018-09-25 06:38] betaCode95 commented on #1757
Currently, this is the only thing that is getting reported. It happens while inserting data into Couchbase, and occurs sometimes, when this exception is thrown data is not getting thrown. I am actually trying to insert an object which has an XML format with various unusual characters, I am not getting this exception all the time though

[2018-09-27 18:31] pasin opened #1760 "Warning about CBLWebSocket failed to shutdown the web socket"
When using a single shot replicator and when the replicator stopped, there is a warning as below in the log:

[code]

[2018-09-27 18:33] pasin commented on #1760
The cause of the issue is that the code tried to close the OkHTTPClient twice.

[2018-09-27 18:35] pasin opened #1761 "Could not find class 'android.system.ErrnoException' error"
When using Android API < 21, there is an error below shown in the log when using the replicator:

[code]

[2018-09-27 18:36] pasin commented on #1761
ErrnoException is available from API 21.

[2018-09-27 18:41] pasin opened #1762 "Potential memory leak in replicator"
While review [native_c4socket code](https://github.com/couchbase/couchbase-lite-core/blob/cae3b2cb92b96326fa0b0c154a8b229d4063399c/Java/jni/native_c4socket.cc#L133-L157), I have found that the allocatedData hasn't been free after uses. The quick solution would be releasing the allocatedData at the end of the socket_write(socket, allocatedData) function; this means that the write callback on Java s

[2018-09-27 18:45] pasin opened #1763 "Log from replicator's native code shouldn't be shown unless the logging is enabled"
When using replicator, the following log messages were seen in the log even though the logging hasn't been enabled:

[code]

[2018-09-27 18:51] #1760 closed

[2018-09-27 20:03] #1761 closed

[2018-09-27 20:18] #1751 closed

[2018-09-27 23:13] pasin commented on #1762
When using Android Studio's profiler to profile the memory, I could see the memory keeps going up after each session of push 10 docs (500k each).

[2018-09-27 23:14] #1762 closed

[2018-09-27 23:21] #1763 closed

[2018-10-04 20:08] pasin opened #1765 "Copy prebuilt database causes Exception"
This has been reported and reproduced. The work around is to create a dummy database before copying. The reason of the exception is because the TMPDIR hasn't been set until a database object is created.

[2018-10-12 22:25] pasin opened #1766 "Auth Header from BasicAuthenticator not getting sent if SG Guested is enabled"
Currently 2.0 replicator does Basic Authenticating with SG only when receiving an Auth challenge. But when GUEST account enabled on SG, there will be no challenge. As discussed, we should send the Basic Auth header without waiting for Auth challenge if Basic Authenticator is set.

[2018-10-15 04:51] mswokk commented on #1352
@hideki I have the same problem with @AlBlanc
Due to the DictionaryInterface is not public, I have to write unmarshalling code for Result and Document twice. Hard to manage.

**Is there any workaround or trick to do not make the duplicated code?
Or is there any special reason for DictionaryInterface is non-public?**
Forcing classes to implement methods cannot be a reason for not-public

[2018-10-15 08:16] AlBlanc commented on #1352
Hi @mswokk,

Actually I have just finished to rewrite completely my "Document mapper" (I can't say ORM for the moment yet) in kotlin, and I have done it without needed these interfaces.

If you want to have a look -> https://github.com/Sportner/CBLMapper

You can register custom types, it handles enums, arrays (use Arralist and HashMap as default list/map).
It still under construction but works pr

[2018-10-15 14:34] AlBlanc commented on #1352
Actually, Sorry @mswokk I replied too quickly, I am facing exactly the same issue as you.

I still don't see the point to make `DictionnaryInterface` not public... It would help us to build products on top of it...

[2018-10-17 02:57] pasin commented on #1352
CBL iOS (Objective-C) and .NET have DictionaryInterface public. We probably should do the in CBL Android.

[2018-10-18 03:48] mswokk commented on #1352
@pasin Please consider ArrayInterface too.

[2018-10-18 04:33] pasin commented on #1352
Absolutely.

[2018-10-18 04:43] mswokk commented on #1352
@AlBlanc Thank you for answer.
If you are hurrying up, please check [my workaround.
](https://gist.github.com/mswokk/2f6dd56eb8069f70ac9018d5c6e452a4
)

I created Kotlin extension function for each classes which implements DictionaryInterface, ArrayInterface.
Although my codes are duplicated, once you import it, you can use it everywhere in your own document.

[2018-10-18 13:40] percula opened #1767 "ResultSet.toMap() and ResultSet.indexForColumnName() not working for FTS"
In CBL 2.0 and 2.1, I cannot get FTS to return all the properties that I ask for in the SelectResult. When I run the exact same query without the FTS Where expression, it works as expected. Specifically, the `indexForColumnName()` method returns `-1` when the value is in-fact present in the values. As shown in the screenshot, the correct index for `"overview"` is `9`. In `indexForColumnName`, the

[2018-10-18 18:41] pasin commented on #1767
@percula Can you provide the FTS query that you constructed? I want to use that to reproduce that the issue.

[2018-10-18 20:10] percula commented on #1767
Hi @pasin , thanks for looking into this! I am using a temporary workaround: I added CBL as a local library and bypassed the last two lines of `indexForColumnName()` and now it's working, so that is definitely the issue. This works fine, but now my build times are horribly slow. I looked for the .aar that Android Studio is supposed to build, but cannot find it. Does CBL for Android output that to

[2018-10-18 20:21] percula commented on #1767
I was curious if the `._id` was causing issues, so I tried removing that but the issue persists.

[2018-10-22 21:05] #1766 closed

[2018-10-22 21:06] #1765 closed

[2018-10-23 06:28] MatFl opened #1769 "CBL 2.x is not compatible with x86_64 devices"
Please provide the native libraries for x86 64bit CPUs, many devices with e.g. Intel Atoms require this!

[2018-10-23 06:30] MatFl opened #1770 "How to filter push replication in CBL 2.x"
We tried to migrate to CBL 2.x from 1.4 and could not find any way to set filters for push replications, like we could in the old version.

Is this not supported in 2.x?

[2018-10-23 16:19] pasin commented on #1770
This feature is not supported yet, and most likely we will have this in the next feature release (v2.5).

[2018-10-26 16:41] sridevi-15 opened #1771 "212-2: querying with double value returns 0 rows"
### Environment:
Build : 212-2
client : Android emulator , Google Nexus 9, 7.0.0 API 24

### Steps to reproduce :
1. Create docs with one of the column having double value
2. Fetch the doc using where value as double value

.select(SelectResult.expression(Meta.id),
                SelectResult.expression(Expression.property(item)),
                SelectResult.expression(Expression.property(item_p

[2018-10-26 16:50] pasin commented on #1771
Is this a regression?

[2018-10-26 18:43] pasin commented on #1771
I just wrote the following test and run on Android 2.1.2. The test was passed. Is it possible that the document has set the item_price value as float instead of double? Comparing float value is trigger and could be different on each platform.

[code]

[2018-10-26 18:44] pasin commented on #1771
@sridevi-15 Can you check my comment above?

[2018-10-26 21:32] #1770 closed

[2018-10-26 22:45] sridevi-15 commented on #1771
@pasin , yes actually API is comparing with float value, not double. Sorry for the confustion. Are you saying , querying with float value is not consistent in returning right result?

[2018-10-26 22:46] pasin commented on #1771
Yes, comparing the exact value is not reliable.

[2018-10-29 09:32] brije111 opened #1772 "Meta.id.like is not working"
Here is my code to fetch all records with having email passed as parameter(emId) & ID starts with "login_".

`public static ResultSet queryLoginModelEmail(String emId, Database database) {
        Query query = QueryBuilder.select(SelectResult.all())
                .from(DataSource.database(database))
                .where(Expression.property("email").equalTo(Expression.string(emId))

[2018-10-29 18:01] pasin commented on #1772
The expression above, LIKE `login_%e%` doesn't mean that the ID starts with "login_" but it means that the ID has 'login_' as the prefix AND has anything that contains an 'e' character after that. I think you would need LIKE `login_%` to achieve the 'login_` prefix checking. Please check your query.

I have also tested both LIKE "login_%" and LIKE "login_%e%" against meta.id and both worked as exp

[2018-10-29 18:01] #1772 closed

[2018-10-29 22:08] djpongh opened #1773 "Client Proxy Support"
Test replication which client proxies, both WS and WSS.

[2018-10-30 15:19] pasin opened #1774 "Catch up with the latest overhaul in LiteCore and Fleece"
There are some big changes in LiteCore and Fleece (e.g. https://github.com/couchbaselabs/fleece/commit/e6e2fa6bb06160ee5d926cb1e06b80b4c972732d). CBL Android and JNI binding need to catch up those changes. The biggest changes would be FLDict and Shared Keys as Android implements its own Mutable Fleece.

[2018-10-30 17:57] pasin commented on #1755
The following code could reproduce the issue:

[code]

[2018-10-31 09:38] DanielSchmitt94 opened #1775 "Stop Offline Replicator"
A Replicator running in continuous PushAndPull mode can't be stopped if the replicator status is offline.

Depending on [https://forums.couchbase.com/t/continuous-replication-offline-vs-stopped/17227/2](url) the replicator should be stoppable at any time.

Is this still a bug?

[2018-10-31 09:51] #1775 closed

[2018-10-31 11:11] das-solo commented on #1738
@camponuevo Did 2.1 fix the problem for you or was it a problem in your code? I am having the same issue now with 2.1 and I can't seem to figure out what I am doing wrong?

[2018-10-31 15:29] pasin commented on #1738
I believe this issue is the same as https://github.com/couchbase/couchbase-lite-android/issues/1751 and the fix will be in the next release (2.1.2).

[2018-10-31 17:38] das-solo commented on #1738
@pasin I cannot thank you enough for your reply!

I built the latest code from source and the problem has been solved!

For those who are interested, it's the release/2.1.x branch.
https://github.com/couchbase/couchbase-lite-android/tree/release/2.1.x

[2018-10-31 18:14] camponuevo commented on #1738
@das-solo We were very close to live with our app, so the team decided to downgrade to Couchbase Lite version 1.4
This issue happened only in some Android devices. We went live with 1.4 and the app is pretty stable.

[2018-11-01 22:22] djpongh opened #1777 "Delta"

[2018-11-01 22:33] #1777 closed

[2018-11-02 21:36] #1774 closed

[2018-11-02 22:11] Sandychuang8 opened #1778 "Replication Filters"

[2018-11-07 20:36] Sandychuang8 opened #1779 "Replication Filters"
reopen #1778. I was confused this ticket with lite-net one.

Need Pasin's help to add the binding for this feature.

[2018-11-09 23:18] djpongh opened #1780 "TTL"
Port of https://github.com/couchbase/couchbase-lite-net/issues/1079 to Android

[2018-11-14 03:38] bitfrost opened #1781 "http://mobile.maven.couchbase.com/maven2/dev/ not working"
This has started happening today with no change in our projects.  Seems like an infrastructure problem.

could not resolve all files for configuration ':app:debugRuntimeClasspath'.

  Searched in the following locations:
      file:/Users/kobrien/Library/Android/sdk/extras/m2repository/com/couchbase/lite/couchbase-lite-android-ee/2.1.0/couchbase-lite-android-ee-2.1.0.pom
      file:/Users/kobrien/

[2018-11-14 18:31] pasin commented on #1781
We are looking into the issue. Meanwhile you can use couchbase-lite-android deployed on jcenter() by removing couchbase maven from the repository list in `build.gradle` and add `jcenter()` instead.

[2018-11-14 22:09] bitfrost commented on #1781
Download appears to be working again.   The one on jcenter appears to be 1.4.X  we are customers using 2.1.0 with encryption so that would not be an alternative.

[2018-11-16 13:09] verma171 opened #1782 "2.1.0 : LAST_WRITE_WINS flag not working. getting conflict Android SDK"
As per the documentation https://blog.couchbase.com/document-conflicts-couchbase-mobile/
In Couchlite 2.0 a feature introduced automatic conflict resolution but it seems not working in my case.
I am getting following error message ReplicatorChangeListener in Android SDK.
"Document update conflict".

[2018-11-16 17:16] pasin commented on #1782
The LAST_WRITE_WINS conflict resolution is only for local save operation. Then using replication, the conflict resolution will be done on the client side during pull replication using MOST-ACTIVE_WINS algorithm.

From the error, I guess that the push-only replicator is using. To use replication's auto conflict resolution, pull replicator is needed. Can you check the type of the replicator?

[2018-11-16 17:18] pasin commented on #1782
On another note, if using push and pull replicator separately (not push-pull replicator), the above error could be still shown up but harmlessly as the conflict will be resolved in pull replicator.

[2018-11-16 22:37] #1781 closed

[2018-11-16 23:51] #1771 closed

[2018-11-17 00:53] pasin commented on #1773
Sending WebSocket requests with OKHTTP seems to work with proxy without any problems when using WSS (SSL) but not WS. When testing with Squid, Squid expects a tunnel (requested by sending CONNECT request) to be created when upgrading to WebSocket protocol, otherwise Upgrade headers will be not forwarded correctly. OKHTTP doesn't send CONNECT request if non SSL requests are used based on [this](htt

[2018-11-17 00:54] pasin commented on #1773
Note, some code change to setup proxy info is still required. I will commit the code change for that.

[2018-11-18 19:10] pasin commented on #1743
Same as #1773

[2018-11-18 19:10] #1743 closed

[2018-11-18 19:11] pasin commented on #1773
We could also send the CONNECT request when HTTP request and client Proxy are used. I think we should try that.

[2018-11-19 22:06] pasin commented on #1773
I have discussed this with @djpongh and we will put this as a known issue for iridium.

[2018-11-21 02:58] AlBlanc commented on #1463
Hello, Any news about this topic?

[2018-11-21 19:45] AlBlanc commented on #1463
The result set is not really large (~1.5k items maximum), but the user experience is not the same.
The list could have been displayed instantly like I was used to do it with a `CursorAdapter`.

Ok, well, we'll do it this way.

[2018-11-24 15:23] jlurena opened #1784 "java.lang.NoClassDefFoundError caused by apache legacy library API 28"
More info https://issuetracker.google.com/issues/79478779

Can be fixed by adding
`<uses-library android:name="org.apache.http.legacy" android:required="false"/>` to manifest.xml

[2018-11-29 21:00] Sandychuang8 commented on #1780
PRs have merged into master.

[2018-11-29 21:00] #1780 closed

[2018-11-30 04:20] percula opened #1785 "Result.toMap() does not return boolean values"
`Result.toMap()` returns boolean values as numbers instead of booleans. Is there a way to fix this? It looks like `toMap()` calls `toList()` which eventually calls `FLValue.toObject()`, which is supposed to check for booleans. So it looks like it *should* work, but isn't.

I also confirmed that when creating the document, the value is a boolean, so the issue occurs during read, not write.

[2018-11-30 09:36] achintdigiscribe opened #1786 "Getting Fatal Error on Sync in 2.0 and as well as in 2.1"
It’s been a whole year I am getting the same issue. I am still working on couchbase lite 1.6. I am unable to move on 2.1. Every time it crashes whenever I start sync methods. I am trying to sync four different buckets from server to couchbase mobile. Every time I am getting this same fatal error. Please help me what I am doing wrong over here.

I have written a replication method over application

[2018-11-30 16:35] pasin commented on #1786
@achintdigiscribe I have requested the access. Please also provide the info about reproducing steps when using the demo app.

[2018-11-30 16:36] pasin commented on #1785
Thanks for reporting. We need to investigate this issue.

[2018-11-30 17:36] achintdigiscribe commented on #1786
@pasin Please check your mail. I gave you the access. Please Extract the project. You will get a docx file which contains all the necessary step toward the crash.

[2018-12-01 05:26] pasin opened #1787 "Use c4query_columnTitle to get column names"
LiteCore has implemented c4query_columnTitle for getting column names. CBL should use that instead of generating the column names by itself.

[2018-12-04 11:46] achintdigiscribe commented on #1786
@pasin any updates on the issue please find the document in attachment as well
[Crash Scenario.docx](https://github.com/couchbase/couchbase-lite-android/files/2643792/Crash.Scenario.docx)

[2018-12-04 18:52] pasin commented on #1786
@achintdigiscribe I have downloaded the sample app but I don't have a chance to investigate it yet. I will do it as soon as I can.

[2018-12-06 15:51] #1782 closed

[2018-12-08 01:00] borrrden opened #1790 "Add Replication Eventing Test Cases"
Every test in the [test plan document](https://docs.google.com/spreadsheets/d/1qLE0bxY8mWLQZmhFnb98sKLOTGh6tni2aq7_-IG8LNk/) needs to be implemented for DB<->DB

- [x] With documents created on each side in a push/pull replication, verify the appropriate events are fired for each ID with the correct flags
- [x] Verify that in the presence of an error (e.g. conflict for push) that the error is set

[2018-12-08 01:18] borrrden opened #1791 "Update Replication Event API"
The replication event that fires from adding a document replication listener needs to add two additional boolean properties:

- `isDeleted()`
- `isAccessRemoved()`

[2018-12-08 01:22] borrrden opened #1792 "Verify Purging triggers Database Changed Event"
This functionality was recently added to get changed events when documents are expired.

[2018-12-08 01:31] borrrden opened #1793 "Verify TTL Test Scenarios are covered"
As laid out in [this document](https://docs.google.com/spreadsheets/d/1RK87u2pmkhiF5IvuGW9LO8viibw2aR9NJ6slFTaTvLs/) the following cases must be in the developer test suite:

- [ ] Getting / Setting expiration via API
- [ ] Document purged after expiration date
- [ ] Expired documents do not show up in query (even a deleted docs one)
- [ ] Removing expiration causes a document to not expire
- [ ]

[2018-12-12 01:54] bitfrost opened #1794 "http://mobile.maven.couchbase.com/maven2/dev/"
#1781  is happening again

[2018-12-12 12:00] tapeo opened #1795 "java.lang.UnsatisfiedLinkError: No implementation found for java.lang.String com.couchbase.litecore.C4.getVersion()"
When app is installed in system crash. When I update it with manually it doesn't do anymore.

Stack trace:
java.lang.UnsatisfiedLinkError: No implementation found for java.lang.String com.couchbase.litecore.C4.getVersion() (tried Java_com_couchbase_litecore_C4_getVersion and Java_com_couchbase_litecore_C4_getVersion__)
 at com.couchbase.litecore.C4.getVersion(Native Method)
 at com.couchbase.lite.

[2018-12-12 16:15] pasin commented on #1795
Can you explain about `When app is installed in system crash`? What does it mean?

[2018-12-12 16:19] pasin commented on #1794
CC: @rajagp @djpongh

Reference ticket: https://issues.couchbase.com/browse/CBIT-13904

[2018-12-12 16:22] pasin commented on #1784
CC: @rajagp

[2018-12-13 09:06] tapeo commented on #1795
If the app is in the /system folder, the problem appear. If the app is simply installed there is no error.

[2018-12-14 00:38] pasin commented on #1794
This has been resolved.

[2018-12-14 00:38] #1794 closed

[2018-12-19 07:05] hrajput89 opened #1798 "Replication-eventing listener is not able to catch errors thrown for conflicts"
Version: 2.5.0-90
Client OS: android
Server: CBS 6.5.0-1813

I'm working on testing the scenario "Replication Event - error". This what I'm trying to achieve for error-event.

[code]

I can see the error thrown for conflict in app logs, but those errors are not registered on event listener.

This is the test I've written (code is not complete to validate all scenario for this test) - https://githu

[2018-12-19 21:16] Sandychuang8 opened #1799 "Update Document Replication API to support batch event"

[2018-12-22 01:35] borrrden opened #1802 "Ensure file logger max size is 64-bit type"
Spec recently changed from int32 to int64

[2018-12-22 01:50] borrrden opened #1803 "Change Function.prediction to accept string directly"
New signature: `prediction(model: String, Expression: input)`

[2018-12-22 02:20] pasin opened #1804 "Ensure that the dict used for creating a document for replication filter is lazy deserialized"
Based on the design doc review, the Ensure the dictionary used for creating a document for replication filter should be lazy deserialized.

[2018-12-27 07:17] jfalexvijay opened #1805 "No implementation found for long LpConfigImpl"
wrongly posted here

[2018-12-27 10:48] #1805 closed

[2019-01-02 18:38] #1804 closed

[2019-01-03 21:09] #1790 closed

[2019-01-03 21:11] #1792 closed

[2019-01-04 05:03] borrrden opened #1808 "Iridium Logging Test Cases"
See the CBL Logging test plan for details on each item

- [ ] Log availability at default location
- [x] Logging format with default behavior
- [x] Enabling Text logging
- [x] Logs for each log level
- [x] Max size log rotation
- [x] Disable logging
- [x] Re-enable logging
- [x] log file name
- [x] System configuration Snippet at the start of log
- [x] Custom logging
- [x] Custom logging log level

[2019-01-04 05:06] borrrden opened #1809 "Replication Filter Test Cases"
See the replication filter test plan for details on each item

- [ ] Create Filter with one-shot replication
- [ ] Create Filter with continuous replication
- [ ] Filter deleted document
- [ ] Stopping and restarting replication with same filter

[2019-01-04 05:49] pasin opened #1810 "Update Replication Filter and Document Replication Eventing API"
Update the API according to the spec [here](https://github.com/couchbaselabs/couchbase-lite-apiv2/pull/237).
* [x] DocumentFlags
* [x] ReplicationFilter
* [x] ReplicatedDocument

[2019-01-04 10:02] hrajput89 opened #1811 "CBL is crashing when creating db"
### Library version
CBL 2.5.0-103

### Operating System / Device Details
**Genymotion emulator 3.0 - Google Pixel xl 7.1.0 API 25**

### Log Output
[android_db_creation_crash.log](https://github.com/couchbase/couchbase-lite-android/files/2726551/android_db_creation_crash.log)

### Actual behavior
CBL is crashing when one tries to create a database.

### Steps to reproduce:
pytest --timeout 1800 --

[2019-01-04 17:10] pasin commented on #1811
From the log:

[code]
@Sandychuang8 Can you look at the issue? The first thing to check if `CBL 2.5.0-103` is the right version that has the correct JNI implementation?

[2019-01-04 20:32] Sandychuang8 commented on #1811
Hi @hrajput89, I noticed you used --liteserv-version=2.5.0-102 in your step to reproduce but you specified CBL 2.5.0-103 for library version . I would like to confirm with you that you were running 103 or 102 for this ticket.

[2019-01-04 23:00] pasin opened #1813 "Implement Predictive Query API"

[2019-01-04 23:11] djpongh commented on #1798
@hrajput89 , issue should be fixed. Can you verify?

[2019-01-04 23:15] #1682 closed

[2019-01-04 23:18] djpongh commented on #1755
@pasin , can we close this then?

[2019-01-07 06:55] Sandychuang8 commented on #1811
Hi @hrajput89 , would you please run the latest version?

[2019-01-07 19:00] #1810 closed

[2019-01-08 07:54] hrajput89 commented on #1811
Ran the test with build 2.5.0-109 and they are passing.

[2019-01-08 07:54] #1811 closed

[2019-01-09 06:04] pasin opened #1814 "Change domains type of the Console Logger to EnumSet"
We should change domains type of the Console Logger to EnumSet to be compatible with the other platforms that use bitwise enum.

[2019-01-09 21:52] Sandychuang8 commented on #1785
Cannot reproduce the issue with the latest build.

[2019-01-10 04:19] jayahariv commented on #1802
Can see the `maxSize` type as long. And it is 64 bit.

https://github.com/couchbase/couchbase-lite-android/blob/e6c47578060629e1d82ecfc321dadc587a61bc3c/shared/src/main/java/com/couchbase/lite/FileLogger.java#L96

https://developer.android.com/reference/java/lang/Long.html#SIZE

[2019-01-10 18:30] jayahariv commented on #1802
Confirmed and hence closing this

[2019-01-10 18:30] #1802 closed

[2019-01-11 17:15] fijemax opened #1818 "Crash on document save with 2.1.2"
I recently update CouchbaseLite from 2.1.0 to 2.1.2.
Sometime and randomly a CouchbaseLiteException appear on document save action.

[code]

[2019-01-11 17:42] #1814 closed

[2019-01-12 00:45] borrrden opened #1820 "Blob metadata not preserved in predictive query parameters"
If the parameters are set on a query in the following fashion (C# in the example):

[code]

Then when they come back into the predictive query callback, the content type (text/plain) is lost and replaced with a hardcoded one.  This is due to the way that it is being serialized into the query.

[2019-01-12 00:51] borrrden opened #1821 "Remove log rotation change batching"
The batching of things like the file logging max size, max rotate count, etc is prone to races and generally over complicated.  This is dependent on https://github.com/couchbase/couchbase-lite-core/issues/657.

[2019-01-13 20:47] jayahariv commented on #1808
File logging, will add unit tests after the new change is included

[2019-01-14 06:47] hrajput89 commented on #1798
I'm still seeing this issue. I tested this with build 2.5.0-109 for android and also on 2.5.0-132 for iOS.  I can see the docs are getting rejected with 409 but the event listener doesn't catch anything.

[code]

[android_console.log](https://github.com/couchbase/couchbase-lite-android/files/2754206/android_console.log)

[2019-01-14 07:38] hrajput89 commented on #1798
I can see error code of 10409 for conflict in replication events. Hence closing the issue.

[2019-01-14 07:38] #1798 closed

[2019-01-14 16:45] fijemax commented on #1818
I get this logs before the previously backtrace:
[code]
From [SQLite documentation](https://www.sqlite.org/rescode.html#ioerr_gettemppath) this error is due to :
[code]

[2019-01-15 04:36] pasin commented on #1784
CBL doesn't use org.apache.http and I don't think this is directly relevant to CBL. It's something that the Android application might need to do.

[2019-01-15 04:36] #1784 closed

[2019-01-15 21:31] #1785 closed

[2019-01-16 01:02] Sandychuang8 commented on #1767
Hi @percula, In order to repro this issue, I will need to know how you constructed the document or provide us a sample of the data set (JSON will do).

[2019-01-16 20:23] pasin commented on #1818
Can you enable verbose log level on the database domain and share the log after reproducing the issue?

[2019-01-16 21:15] pasin commented on #1755
I have made sure that there will be no error shown in the log when trying to re-enumerate the query result set after all results have been enumerated. Instead, there will be a warning massage in the log. We can close the issue now.

[2019-01-16 21:15] #1755 closed

[2019-01-17 09:06] fijemax commented on #1818
Hello,
I had this logs with this option :
[code]
[code]

[2019-01-22 15:41] fijemax commented on #1818
When I come back on 2.1.0 version, this bug not appear.

[2019-01-22 23:51] #1820 closed

[2019-01-23 00:07] pasin opened #1825 "Validate null parameters in Query's components"
NULL parameters should be validated and throw Runtime Exception if non-null is required.

Example: Having(null) should throw Exception.

[2019-01-23 00:13] pasin commented on #1825
Spec: https://github.com/couchbaselabs/couchbase-lite-apiv2/tree/master/spec/spec/Query/Clause

[2019-01-23 16:57] fijemax commented on #1818
I'am not sure but 2.1.2 integrate this commit :
https://github.com/couchbase/couchbase-lite-core/pull/579
Do you thing there is the cause of
[code]

[2019-01-23 18:03] pasin commented on #1818
@fijemax sorry for delay response. I don't think couchbase/couchbase-lite-core#579 is related to this issue as it's a tmp part used for different purposes (for database upgrading or copying).

[2019-01-23 18:04] pasin commented on #1818
@borrrden @snej Do we change a configuration for `SQLITE_TEMP_STORE` or something related to that in 2.1.2?

[2019-01-23 18:15] pasin commented on #1818
@fijemax Are you using CE or EE version?

[2019-01-23 18:16] pasin commented on #1818
Note:

From https://github.com/couchbase/couchbase-lite-core/blob/650c27df206fcc62167a5e0a6a8769da4d700bdd/CMakeLists.txt#L52, we are setting the SQLITE_TEMP_STORE=2 for EE edition.

[2019-01-23 18:44] pasin commented on #1818
@fijemax Can you switch to use Enterprise Edition to see if the issue is gone?

[2019-01-23 18:46] pasin commented on #1813
This is done via 4cdadd9a60ead3d61e39ec03a86b4eee0242d603.

[2019-01-23 18:46] #1813 closed

[2019-01-23 18:46] pasin commented on #1803
This is done.

[2019-01-23 18:46] #1803 closed

[2019-01-23 23:26] jayahariv opened #1830 "Update File Logger configuration to apply file header"
Update the file logger config to apply file header to CBL's user agent.

https://github.com/couchbase/couchbase-lite-core/blob/31266c807a208ffa1569a339fd1954dc0bbb7cb0/Java/jni/native_c4.cc#L148

[2019-01-23 23:31] jayahariv commented on #1808
Log availability at default location: no checking done, since we are getting the directory from the users.

[2019-01-23 23:36] jayahariv commented on #1808
Disable custom logging can be checked inside the Re-enable custom logging. As the re-enable custom logging include a disabling and validation for not printing the logs. So will go ahead and mark disable as done.

[2019-01-24 05:22] #1830 closed

[2019-01-24 08:49] fijemax commented on #1818
We use
com.couchbase.lite:couchbase-lite-android:2.1.2@aar the http://mobile.maven.couchbase.com/maven2/dev/ repository

[2019-01-24 08:52] borrrden commented on #1818
EE is com.couchbase.lite:couchbase-lite-android-ee (note -ee on the end)

[2019-01-24 09:01] fijemax commented on #1818
From same maven repo ?

Fail with this gradle config:
[code]

[2019-01-24 09:32] fijemax commented on #1818
Hello @pasin and thank you,
The bug don't appear with EE edition.

[2019-01-24 12:22] borrrden commented on #1818
There seems to even be precedent for setting it to 3 on Android (from Mozilla).  So I think we should work on an appropriate set of defaults (2 might be good everywhere, but need to confirm about iOS).

[2019-01-24 12:32] borrrden commented on #1818
We’ve had loads of trouble with c++ and c code not being able to reliably find a temp path that is writable on Android. It’s just so fragmented with various vendors doing whatever they want even if it doesn’t make sense. The only truly reliable way is from Java and the Android context object which is not available outside of a Java application.   My guess is that the same factors are at play here.

[2019-01-24 21:03] jayahariv opened #1834 "testDocumentChangeOnDocumentPurged is failing"
[code]

[2019-01-24 21:18] jayahariv opened #1835 "fix testFileLoggingMaxSize unit test"
Referencing the parent task: #1808

[Link to Test](https://github.com/couchbase/couchbase-lite-android/blob/master/android/CouchbaseLite/src/androidTest/java/com/couchbase/lite/LogTest.java#L263)

conversations happened so far:

@jayahariv 22 hours ago  Member
ignored since the debug logs are not printing anything in it

  @borrrden
borrrden 16 hours ago  Member
So why ignore instead of adjusting

[2019-01-24 22:00] bmeike commented on #1835
`isDebuggable` is not what you want.  You might want `BuildConfig.DEBUG`, but that tells whether the application was built debug or not.  If you want to know whether an included library was built debug, then you probably want something like this in the build for the library:
`buildTypes {
        debug {
            buildConfigField "Boolean", "CB_DEBUG", "true"
        }

        ...
    }`

[2019-01-24 22:45] jayahariv commented on #1835
after spending lots of time, we figured the log.d was not called and implemented. So adding the fix as well as enabling the test in PR #1837.

[2019-01-24 22:46] pasin commented on #1835
After all, it seems like gradle does set CMAKE_BUILD_TYPE correctly based on the build type.

[2019-01-24 23:59] snej commented on #1818
Why don't we add a LiteCore function, like `c4_useTempDir`, that the app can use to tell LiteCore where the writeable temp directory is?

(I'm a bit squeamish about using SQLITE_TEMP_STORE=2 because it will increase RAM usage during queries. I don't know about Android, but on iOS this can lead to the app being killed for hogging RAM.)

[2019-01-25 03:11] #1808 closed

[2019-01-25 03:11] #1835 closed

[2019-01-25 05:34] pasin commented on #1818
I have just created an issue on Lite Core before noticing that we have more discussion here. Let's continue discussion in LiteCore issue.

[2019-01-25 05:41] #1818 closed

[2019-01-25 07:12] pasin commented on #1834
I was not able to reproduce the issue on my mac even using arm api19 emulator and the stacktrace on travis env is not helpful as it's cutoff.

[2019-01-25 16:41] jayahariv commented on #1834
It seldom happens in local machine, but travis PR failure is frequent.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-25 21:00] jayahariv opened #1842 "Test cases WithFilter failure"
Local2LocalReplicatorTest -> testPullRemovedDocWithFilter() failure.

Found this happens when replicator instance is returning null inside the [validationFunction](https://github.com/couchbase/couchbase-lite-core/blob/fb62279197ff11e8819324a5905878020e6c7880/Java/src/com/couchbase/litecore/C4Replicator.java#L180) which causing the pullFilter is not getting called.

Tested with below configuration

[2019-01-25 21:01] pasin commented on #1842
@Sandychuang8 as you have developed this feature. I'm assigning this issue to you.

[2019-01-26 01:47] #1825 closed

[2019-01-26 04:32] pasin opened #1845 "Annotate @NonNull to public API"
We should annotate @NonNull to all public API where applicable, both method parameters and returned types.

[2019-01-26 04:33] pasin commented on #1845
Note: We have done some works to the Query API: https://github.com/couchbase/couchbase-lite-android/issues/1825.

[2019-01-28 19:54] pasin commented on #1834
Finally I was able to get the full stacktrace.

[code]

[2019-01-28 19:56] pasin commented on #1834
I think the behavior is similar to what we found in iOS but the failure is different. It's a race condition between getting the document change notification and transaction close. For Android, the test itself was done and passed before the transaction was actually closed.

[2019-01-28 21:31] nantoka69 opened #1849 "Query crashes on empty database after index removal"
I am currently renewing an old project that was originally using Couchbase Lite for Android version 1.0.4.

When I upgraded it to 1.4.4 (as the old version did not work with Oreo) I got an exception when executing a query on a view whose index has been deleted if the database is an empty database.

I have created a small sample function below which reproduces the crash. Removing the comments from

[2019-01-28 22:37] #1845 closed

[2019-01-29 05:40] pasin commented on #1842
It seems like the code that handles replicator context (probably socket context as well) is not correct. It should get the global reference of the context object before passing to the the callbackContext of the replicator parameter. It's also strange that we pass the hash code of the replicator but not the replicator object itself. I will try to refactor this.

[2019-01-29 05:41] pasin commented on #1842
Note that I have fixed the predictive query tests issue. The problem is at the function that converts slice to c-string.

[2019-01-29 10:20] adityasonel opened #1850 "How to use regular expression while querying data"
I am using couchbase lite version `android-ee:2.1.2`. I stored some data in local couchbase lite database. Now, I am trying to query data from local couchbase lite database with the help of regex query like,
[code]
And my database looks like,
[code]
To understand database structure let's take an example of v_1.7.7_1_3 here v can be defined as a just value, 1.7.7 is tag then 1 is parent class(this

[2019-01-29 18:14] pasin commented on #1849
Yes, deleting the index and re-query shouldn't cause the exception. This sounds like a bug.

[2019-01-29 20:30] jayahariv commented on #1850
Regarding the query usage, as already mentioned, your query seems to be doing fine. You can validate the query using the [shared unit test](https://stackoverflow.com/questions/54401694/regex-query-couchbase-lite/54410309#54410309).

About the crash you experienced, can you share the complete stack trace? Or share a sample application which is causing the issue.

[2019-01-30 06:39] #1842 closed

[2019-01-31 06:02] adityasonel commented on #1850
After some hours of working and research on couchbase lite, I got this. First thing there is nothing wrong with regex query it is working fine.

And the second one is while checking my database I realized that `info` field on which I am querying data is EMPTY or NULL in some database entries. So I added a condition in my query like,
[code]
So when `info` is available then I am performing my regex

[2019-02-01 22:35] djpongh commented on #1767
Closing. If you get the needed info feel free to reopen.

[2019-02-01 22:35] #1767 closed

[2019-02-02 00:12] djpongh opened #1852 "Document packaging changes to Android"
Originally: https://issues.couchbase.com/browse/CM-151

Put together a diagram that shows current package structure and what's planned with the "internal" renaming so it is clear to all stakeholders on which ones are impacted .
I think that would also be good to add to the repo README so users who build from source know what has changed

[2019-02-05 19:09] bmeike commented on #1852
One does not normally use the README to document changes in a version.  ... well, maybe a changelog in the readme.  I can't confirm the commitment to support a changelog (not a bad idea!), so I am just going to introduce a RELEASE.md that documents the changes.  We can replace or add to the contents, in the next release, or delete it entirely, when we get tired of looking at it.

[2019-02-05 21:50] bmeike commented on #1852
I have added `release-notes.md` files to each of the three affected repos.  It seems reasonable to me to have this info right next to the code, but open to suggestion.  I can also add the related tickets to the release, when this goes out.

Here are the two diagrams, as requested:

![jni-repackage-before](https://user-images.githubusercontent.com/277848/52306464-e5226280-294c-11e9-949b-68040081bdc

[2019-02-05 22:05] bmeike commented on #1852
Documentation complete.

[2019-02-05 22:05] #1852 closed

[2019-02-07 19:32] sridevi-15 opened #1867 "Replicator status says busy when SGW is offline"
Android CBL version : 2.5.0-157
SGW version : 2.5.0-205

Steps to reproduce:
1. 1. Create 2 DBs and Create 1000 docs in CBL
        2. Do push replication to two SGS(each DB
        to each SG)  -> two replications repl1, repl2
         3. Wait until replication is done.
         3 stop both replicators
        3. exchange DBs of SG and do pull replication -> two replicatoins again, repl1, repl2

[2019-02-07 20:25] snej commented on #1867
There are 159 LiteCore replicators being created during that log, all of them to remote database `sg_db1`. All of them seem to stop with Connection Refused. Looks like the CBL Replicator keeps trying to reconnect.

I didn't see any replicator being created on `sg_db2`. There is one occurrence of that string, but logged by an already-open socket object, so whatever replicator was replicating to it

[2019-02-15 19:54] jayahariv commented on #1457
Reached 79% for EE
Reached 76% for CE

## EE
<img width="1169" alt="ee" src="https://user-images.githubusercontent.com/10448770/52880698-7e086900-3117-11e9-8f86-8d089faea308.png">

## CE
<img width="1139" alt="ce" src="https://user-images.githubusercontent.com/10448770/52880836-f111df80-3117-11e9-8819-38c49cc9c938.png">

Hence closing this for now.

[2019-02-15 19:54] #1457 closed

[2019-02-16 16:51] skyred commented on #942
If filter parameters are set and sent via POST, then it will trigger a CouchDB timeout bug https://github.com/apache/couchdb/issues/1606.

With respect to Couchbase team, I suggest we starting a folk (from @philmay https://github.com/couchbase/couchbase-lite-android/issues/942#issuecomment-295879313 ) of this library, until CouchDB would support filter parameters in POST in their future release.

[2019-02-21 23:19] pasin commented on #1867
Look like there is at least a race condition when accessing c4ReplStatus in stop() and retry(). From the code, it's not obvious.

[2019-02-22 19:13] pasin commented on #1867
Yes, I'm able to reproduce the issue.

[2019-02-22 23:08] pasin commented on #1867
It turns out my test was wrong and I was not able to reproduce the issue. Stopping the replicator did stop the replicator. However I found that there is a logging issue that logging messages from CBL replicator code didn't shown up in console. I will fix that first and will need to ask QE to rerun the test so that I could get the complete log.

[2019-02-22 23:10] pasin opened #1872 "Logging messages CBL code are not shown up in console"
Only logging messages from Lite Core are shown up in console. There seems to be an issue matching between CBL log domain and Lite Core log domain.

[2019-02-26 01:24] #1872 closed

[2019-02-26 01:26] pasin commented on #1867
@sridevi-15 Can you rerun the test with 2.5.0-178? I have fixed missing logging issue so that we could get the complete logs?

[2019-02-26 21:40] pasin opened #1873 "Max double value in Predictive Query result returns as Inf"
Test:

[code]

Log:

[code]

Note that the same test works on iOS.

[2019-02-26 21:42] pasin commented on #1873
From the log, it looks like the max double value got parsed into the SELECT statement in Lite Core correctly. Not sure why on android, the result is not correct.

[2019-02-26 21:43] pasin commented on #1873
@borrrden do you have any ideas?

[2019-02-26 21:50] pasin commented on #1873
Similar log from iOS:
[code]

[2019-02-26 21:55] pasin commented on #1873
@snej / @borrrden any ideas what could be the cause of this issue?

[2019-02-26 22:08] pasin commented on #1873
This happens as we running the test on android X86 emulator (32 bit). The same thing happens when running the test on iOS with iPhone 4s simulator (32 bit).

[2019-02-27 00:19] borrrden commented on #1873
Actually the symptoms on iOS 32-bit are slightly different in that it fails to serialize correctly even before it gets to the point of returning a result.

[2019-02-27 02:03] snej commented on #1873
The max double doesn't round-trip properly to/from a string, it seems. When converting to a string, it gets rounded up slightly, which means when it's parsed back to a number it overflows and turns into an infinity.

So far Jim has seen this behavior in SQLite and NSJSONSerialization, as well as in Fleece. I can fix Fleece, we could consider hacking SQLite, but we can't fix the last one.

IMHO thi

[2019-02-27 06:25] borrrden commented on #1873
This is a pretty outrageous bug, but it is in SQLite itself.  The iOS problem was actually a bug in `NSJSONSerialization` on iOS 9.x and 10.x.  I can't test with 11+ because 32-bit support was dropped, but 64-bit on 10.x also shows the same issue.  9.x and 10.x also have several other failures regarding large and small values that are not present on iOS 12.

As far as this one goes, I believe this

[2019-02-27 07:22] sridevi-15 commented on #1867
Hi Pasin, I ran with 2.5.0-206 build.
This is the cbl logs which I still see repl is busy
https://gist.github.com/sridevi-15/f60080df0830d6a538b0ed7600f5bb5f

[2019-02-27 16:31] pasin commented on #1867
@sridevi-15 From the log, I don't see that the test has called to stop the replicator when the replicator is being offline. Does the test check for offline status and stop the replicator? Could you please check?

[2019-02-27 16:32] pasin commented on #1867
Another thing, it seems like after offline, the replicator kept retrying every two seconds instead of retrying in exponential delay. I will look into this issue.

[2019-02-28 16:23] pasin commented on #1867
From the log, the issue is that returned c4status is `BUSY` (instead of STOPPED) but error is `Connection Refuse`. I couldn't reproduce this stage though.

[code]

[2019-02-28 16:38] pasin commented on #1867
From the log above, it seems the activity level of the Repl#189 is `busy` instead of `stopped`.
[code]

This might not always happens as I could see from a part of the log that worked correctly:

[code]

@snej What could cause the activity level of `Repl#189` to be busy instead of stopped?

[2019-02-28 18:55] pasin commented on #1873
From @borrrden :

[2019-02-28 18:55] pasin commented on #1873
Closed as not-fixing.

[2019-02-28 18:55] #1873 closed

[2019-03-02 01:20] pasin commented on #1867
@sridevi-15 The recent log provided above is iOS log not Android log. Could you please rerun the test with the latest android build and provide the log again? I have added more log to CBL Android so that we can understand more about the issue. Thanks.

[2019-03-02 06:13] sridevi-15 commented on #1867
Hi Pasin, tested with 2.5.0-179 on android.
Here is the cbl logs:
https://gist.github.com/sridevi-15/afe5aec9d86e09484a484f26e921e94a

[2019-03-05 01:49] pasin commented on #1867
@sridevi-15 We have fixed BUSY with Error status issue. Please test with 2.5.0-183.

Another thing is that from the log, I don't see the test server called to stop the replicator even when getting offline status. Please also double check the test code. Thanks.

[2019-03-07 13:12] PrasannaVenkadesh opened #1874 "Shouldn't Dictionary be Parcelable?"
In one case, I happen to put a Dictionary into a HashMap and pass it to a fragment. This caused a RunTimeException stating, the Parcel was unable to mash the value which is a Dictionary.

Shouldn't Dictionary be Parcelable? or is there better way to pass data?

[2019-03-07 19:03] pasin commented on #1874
Currently none of CBL objects are Parcelable. To share that, I would suggest to put it into a global or application level Map/HashMap and share it by key string.

[2019-03-07 20:03] bmeike commented on #1874
@PrasannaVenkadesh, where are you passing the `HashMap` from?  If it is an `Activity`, there is an idiom for transferring non-parcelable data.  The `Fragment` defines an interface: ```
public interface ArgumentProvider {

[2019-03-08 18:58] bmeike opened #1876 "liteserv-android is broken"
I'm not sure that it has worked at all, recently.   This change:

https://github.com/couchbase/couchbase-lite-android/pull/1875

... broke it fer sher.

It should either be fixed or removed.

[2019-03-08 19:23] bmeike opened #1877 "File shared/LiteCoreJNI.exp has the wrong license"
File may not be used at all.  Fix or delete.

[2019-03-11 16:17] pasin commented on #1867
@sridevi-15 Did the latest build fix the issue?

[2019-03-11 21:21] sridevi-15 commented on #1867
I verified on ios - 2.5.0-224 and Android 2.5.0-184. Test has passed now.

[2019-03-11 21:21] #1867 closed

[2019-03-12 13:58] Mahan3340 commented on #1795
when this bug is going to be fixed ?

[2019-03-12 14:01] Mahan3340 opened #1878 "No implementation found for java.lang.string com.couchbase.litecore.c4.getversion()"
when I try to run app normally on emulator with any API version 28 I get this error while creating new database. However it works fine when I create a release version APK and manually install it on emulators, in this case it just works fine, but it really slows debugging process.

Errors:
Can not load Native Library
No implementation found for java.lang.string com.couchbase.litecore.c4.getversion(

[2019-03-12 16:20] bmeike commented on #1795
I'm going to need more detail to be able to understand and reproduce this problem.

You cannot install an app in the system folder.  Do you mean `/system/app`?  Maybe `system/priv-app`?  That is a write only volume.  Are you installing an app that uses CB-Lite as part of the system?

Manual updates *always* go in `data/app`.  If you do a manual update, the app is no longer in /system/app.  That wo

[2019-03-12 16:46] Mahan3340 commented on #1795
@bmeike check this [1878](https://github.com/couchbase/couchbase-lite-android/issues/1878 , I'm having the same issue, but not produced in this way. The app simply will install on Emulators but won't start and crash with this exception
)

[2019-03-12 16:59] bmeike commented on #1878
What do you mean by "manually" install, as opposed to "normally" install?

This is most likely an installation problem.  Are you, perhaps, using "Instant Run"?

[2019-03-12 17:01] bmeike commented on #1795
I've commented on #1878.  Again, I will need substantially more detail, there.  That issue is pretty clearly unrelated to this one.

[2019-03-12 17:06] Mahan3340 commented on #1878
Manually installing release version = Creating APK drag & drop to emulator, this works fine
Running using IDE (instant run is Disabled) , crash with this exception

[2019-03-12 17:09] Mahan3340 commented on #1795
@bmeike Okay this "No implementation found for java.lang.String com.couchbase.litecore.C4.getVersion()" was common between them thought they have the same origin, besides that this issue was the only thing found on the whole web pointing (partially) to this exception

[2019-03-12 18:44] pasin commented on #1878
Can you provide your Android Emulator info as well?

[2019-03-12 20:11] pasin commented on #1878
I have just tested it with a sample app by using CBL v2.1.2 and Android Emulator X86 API 28 and I couldn't reproduce the issue. So could you please provide more info about your build tool, the Android Emulator and etc that we can use to reproduce the issue. Thanks.

[2019-03-13 08:16] Mahan3340 commented on #1878
Emulator Info:
Release Name: Pie, API Level: 28, ABI = x86_64, Target: Android 9.0 (Google APIs)
compileSdkVersion: 28 minSdkVersion: 19  targetSdkVersion:28  multiDexEnabled: true using androidX and CBL 2.12, gradle build tools 3.1.3. Wiped data, recreated the emulator and still the same.

[2019-03-13 09:10] MatFl commented on #1878
This is probably a duplicate of #1769
The release build contains all ABIs, while the debug build probably only contains the ABI required for the emulator (in this case x86_64) which CBL2.x does not provide.

[2019-03-13 09:35] Mahan3340 commented on #1878
@pasin @bmeike : @MatFI is right , when I added
[code]
to debug version as well as release version in gradle, it installs and runs succesfully without any problem and I see CBL has
` ndk { abiFilters 'x86', 'armeabi-v7a', 'arm64-v8a' }`
in its gradle that might cause this problem, on possible reason might be that it cover most of the android devices or due to APK size reduction ( which might be un

[2019-03-13 09:37] Mahan3340 commented on #1878
I will close this issue for now because it's not that related to CBL lib it self but to your policy to support different architectures.

[2019-03-13 09:37] #1878 closed

[2019-03-15 19:41] bmeike commented on #1795
Got it.  So...  Where, exactly, are you installing the app?  If it is on the system partition, how are you installing the app there?

It sounds like the problem is, incidentally, showing up in a CB library because initializing that class is one of the very first things that happens during class loading.  The root cause, however, is that your app can't find the Android Runtime environment.  That's

[2019-03-15 19:45] bmeike commented on #1795
Just noticed this.  It's probably the issue you are having: https://github.com/couchbase/couchbase-lite-android/issues/1769

[2019-03-15 19:51] bmeike commented on #1795
Duplicate of https://github.com/couchbase/couchbase-lite-android/issues/1769

[2019-03-15 19:51] #1795 closed

[2019-03-15 19:51] bmeike commented on #1769
Duplicated in https://github.com/couchbase/couchbase-lite-android/issues/1795

[2019-03-15 19:52] bmeike commented on #1769
Duplicated in https://github.com/couchbase/couchbase-lite-android/issues/1878

[2019-03-15 22:43] bmeike commented on #1877
Changing to target Cobalt.  This file used to be in Lite-Core, and the license was, arguably, correct, there.  Now that it is in the repo (post Iridium), the license needs to be changed to be Apache.

[2019-03-15 22:55] pasin opened #1883 "Mark Predictive Query as beta in the API doc"
Mark Predictive Query as beta in the API doc

[2019-03-18 18:23] diogom-42 commented on #1504
Managed to solve?

[2019-03-18 18:28] bmeike commented on #1877
Fixed

[2019-03-18 18:28] #1877 closed

[2019-03-19 17:05] bmeike opened #1885 "Updating core causes crash"
Updating the version of core to b6f528d7c4a01d474225 (master on 3/19.2019) causes a reproducible crash:

[code]

[2019-03-19 17:23] bmeike opened #1886 "Flakey tests"
Unit tests occasionally fail with the message (from `AbstractDatabase.java`):

"Cannot delete the database.  Please stop all of the replicators before closing the database."

[2019-03-19 17:23] bmeike commented on #1885
This may be related to https://github.com/couchbase/couchbase-lite-android/issues/1886

[2019-03-20 15:20] fijemax opened #1888 "Reference to Database keep by a thread after deferencing"
Hello,

I inspect my app memory after stop my two replicators and closing and releasing my Database.

I observed that the both replicators are keep by  a ReplicatorListenerThread and by the same way the Database reference's is keep too.

Note:
All references at any couchbase Documents or Database are release by my app.
I force Garbage Collecte to release memory.
The database was closed after repli

[2019-03-20 16:42] pasin commented on #1883
This is done in EE repo.

[2019-03-20 16:42] #1883 closed

[2019-03-20 22:22] bmeike opened #1890 "Move pure-java code to a new repo"
The pure java code should be factored out of this repo and into a new one.  The new repo should be a submodule of `couchbase-lite-android` and be separated into `main` (code used by both by pure java, and `pure` [or something like that] that is used only by the pure java product.  This follows the pattern established in the way that cblite-android-ee uses cblite-android.

This would also be a good

[2019-03-20 22:43] bmeike opened #1891 "Eliminate circular dependencies in shared Java code"
Four different products, java, java-ee, android, and android-ee all depend on a shared code base.  That codebase is not at all well designed: it contains some heinous circular dependencies and it cannot be compiled by itself (it depend on the existence of canonical classes that it cannot define).  These dependencies are not even abstracted into interfaces.

This is some very bad mojo.  It is techn

[2019-03-20 22:59] bmeike commented on #1874
@PrasannaVenkadesh Do you need more help with this?

As I said, we intend to keep the Dictionary object pure Java.  We would consider, however, making a new class, `ParcelableDictionary`, that could be passed across Binder.

[2019-03-21 10:27] SagarPatil04 commented on #1795
#1795 marked duplicate of #1769 and #1769 marked duplicate of #1795

[2019-03-21 10:36] SagarPatil04 commented on #1878
I am facing the same issue with emulator with x84_64. @bmeike mentioned the issue is in progress and will be released in Cobalt milestone. Any retentive release date for that milestone?

[2019-03-21 13:28] rajagp commented on #1878
@SagarPatil04   We do not have a release date for that milestone at this time.

[2019-03-21 19:28] bmeike opened #1893 "Native crash"
[code]

[2019-03-21 20:30] bmeike commented on #1893
Observed during a Travis run at commit 9c77580dee814ef8c510b1554dbc72881dfe3c9a

[2019-03-21 21:11] Sandychuang8 commented on #1888
Hi @fijemax, as far as I know, the local database participating in the replication has to wait for all replicators properly stopped before it can be closed.

[2019-03-22 06:08] fijemax commented on #1888
Before closing the database I sync my thread with the replicators stop.

[2019-03-22 22:08] djpongh opened #1894 "Generate API Documentation"

[2019-03-22 22:09] #1894 closed

[2019-03-27 23:34] borrrden commented on #1888
Have you discarded all replicator references too?  I don't think Java itself was designed with this in mind, but the thread you mention is started via a single thread executor that is referenced by the replicator.  My assumption is that it will shut down once the handle is garbage collected (as part of the Replicator garbage collection)

[2019-03-28 07:51] MatFl opened #1895 "Iridium release or nightly builds"
Hi,
we are still waiting for the replication filters which should come with iridium. The milestone was dated until January 2019. Is there a schedule for the release?
Or is there a way to get current nightly builds?

Thanks!

[2019-04-01 14:38] djpongh commented on #1895
The January 2019 release date was added during very early phases of our planning and never updated. Sorry about that. We are looking to get Iridium out the door by May.

[2019-04-01 14:38] #1895 closed

[2019-04-02 13:29] johnvm commented on #1888
We are seeing this issue as well.  Explicitly calling stop and then discarding the reference.

Replicators do not release resources when they are finished. As such for long-running applications, the replicators end up filling memory and causing an application crash.

We declare the replicator

Initialize the replicator

For the test case we run the following code every 5 seconds:

The following is

[2019-04-02 13:35] johnvm opened #1896 "2.1.2: Replicators do not share a ConnectionPool"
Replicators do not release resources when they are finished. As such for long-running applications, the replicators end up filling memory and causing an application crash.

We declare the replicator

Initialize the replicator

For the test case we run the following code every 5 seconds:

After waiting for a while the following is the thread pool state for the application:

Every replicator start()

[2019-04-02 18:05] bmeike opened #1897 "Annotation control of Unit Tests"
Code tests that need special environment in order to run are no controlled by properties contained in a configuration file, and `if` statements in the special tests.  This leads to false numbers for the tests being run, because although they all appear in the count, they are not all being run.

Tests need to be annotated according to category and run (or excluded) by annotation.

[2019-04-02 18:07] bmeike opened #1898 "Fuzzing tests"
This product needs a full-time fuzzing test.  Our current test process is prone to ignore intermittent bugs.  We need to run a fuzzer against the API of the latest build, 24hrs a day, every day.

[2019-04-02 19:57] K-Leon opened #1899 "Signal 11 SIGSEGV with current iridium Branch"
Using Iridium Build as Drop in Replacement for the current release branch build results in sigsegv. I've currently no idea why it happens - it seems to be related to presenting n1ql results or sth like this.

1. Starting with Database vom 2.1 release. => Fails ( I guess because of data fetching - see Point 4 )
2. Starting without Database => Works
3. Doing initial Sync => Works
4. Restarting App w

[2019-04-03 07:02] MatFl commented on #1895
Is there a way to get nightly builds or RCs? We then could start migrating (we are still on 1.4.4) and maybe check for issues before the release.

[2019-04-03 19:32] bmeike commented on #1896
I've reproduced this problem.  Looking into it now.

[2019-04-03 22:15] pasin commented on #1899
@K-Leon Do you have a sample document that I can use to test quickly?

[2019-04-03 23:03] pasin commented on #1899
I did a quick test with the following test and there is no crash. @K-Leon Could you help filling the missing piece that could cause the crash?

[code]

[2019-04-04 00:41] bmeike commented on #1896
This is, indeed, a something that needs to be fixed.  I have a patch that I will put into the master branch, shortly.
On the other hand it looks to me as if it is pretty easy to avoid the problem.  Although Replicators are, indeed, creating a new `ConnectionPool` for each new Replicator (not `start`, exactly), that `ConnectionPool` thread only sticks around for 5 minutes.
As a work-around, turn on

[2019-04-04 00:56] bmeike commented on #1896
Feh.  You are correct.  Each call to `Replicator.start()`.

[2019-04-04 07:26] RocketRider opened #1900 "BlobInputStream does not return -1 when finished reading"
I am reading a blob from the DB and wait for it to finish reading but it never returns -1.

final InputStream inputStream = document.getBlob(reference).getContentStream();
final byte[] bytes = new byte[1024 * 128];
while ((read = inputStream.read(bytes)) != -1) {
    //Endless loop
}

After reading it returns zero

[2019-04-04 09:35] K-Leon commented on #1899
After a few hours I tracked it down finally.

You need to create a document like this and everything falls apart:

[code]

As soon as you have an empty Object in your doc and try to fetch it with n1ql (normal doc get works) you get the sigsegv.

I can reproduce it constantly without replication.
Empty Database => Doc with an empty Object => Fetching it with N1QL => SIGSEGV

@snej For me it looks l

[2019-04-04 13:51] RocketRider opened #1901 "Close all query listeners"
Is there any way to close all query listeners without knowing them.
I want to delete the database and for that I need to close all listeners.

[2019-04-04 16:03] bmeike commented on #1896
PR is here: https://github.com/couchbase/couchbase-lite-java/pull/105

[2019-04-04 21:15] pasin commented on #1901
A short answer is no. As of now, the app needs to keep tracking the returned tokens when adding the listener.

[2019-04-04 21:16] pasin commented on #1901
CC: @rajagp

[2019-04-04 21:16] #1901 closed

[2019-04-04 23:36] K-Leon commented on #1899
I just recloned the iridium branch but it still crashes with the same error even though the submodule is up to date and i made sure your changes are included in the built.

[2019-04-04 23:42] pasin commented on #1899
Could you capture the stacktrace and share it along with your complete code snippet of the for-loop?

[2019-04-04 23:47] K-Leon commented on #1899
Tombstone and code is more or less the same as above - but it looks like it happens after upgrading a database from 2.1 to iridium. After doing the "upgrade" i saw the same error - removing everything and syncing a clean state on the other hand stops the crashes. But this isn't workable for a live scenario

[2019-04-04 23:53] pasin commented on #1899
That is strange, we don’t change data structure as far as I know from 2.1.x.

Also the place of the crash could be inside for loop not the for-loop itself. If you can share a bit of your code, I can try to see any possibility that might lead to the crash.

There might be something a little difference in stack trace as well.

Get Outlook for iOS<https://aka.ms/o0ukef>

On Thu, Apr 4, 2019 at 4:47 P

[2019-04-05 00:03] K-Leon commented on #1899
[code]
I hope this helps - otherwise i‘ll try to make a repro tomorrow. But I guess on the long term a corpus of Strange Json objects could be favorable for testing.

[2019-04-05 04:50] pasin commented on #1899
The `result.toMap()` worked fine with empty sub-dictionary when I test. There must be something else. It will help a lot if you can create a repo that reproduces the issue. Thanks.

[2019-04-05 05:09] RocketRider commented on #1900
Thank you for the fast fix

[2019-04-05 09:22] K-Leon commented on #1899
I just dived into it - actually it seems to be to upgrading. When i downgrade to 2.1.x i get this message: CouchbaseLiteException{domain='CouchbaseLite', code=28, msg=database is in a newer file format than this software supports}

So i clear app folder, then i run more or less the above Testcase. Now i start a build with iridium and i'm getting again a fleece crash. Looks like this time it is rel

[2019-04-05 16:29] #1900 closed

[2019-04-05 21:51] pasin commented on #1899
This is a different issue from the original issue. The issue happens when initiating a dictionary iterator and it seems like the values array is null.  I tried to reproduce the issue (e.g. having null value in a dictionary or having an empty dictionary in a dictionary), but I had no luck. Would it possible to shoot me the database file or a project that I can use to repo the issue?

[2019-04-05 21:52] pasin opened #1904 "Signal 11 SIGSEGV when initiating Dictionary Iterator"
Moved from https://github.com/couchbase/couchbase-lite-android/issues/1899,

[code]

[2019-04-05 21:53] pasin commented on #1904
This is a different issue from the original issue. The issue happens when initiating a dictionary iterator and it seems like the values array is null. I tried to reproduce the issue (e.g. having null value in a dictionary or having an empty dictionary in a dictionary), but I had no luck. Would it possible to shoot me the database file or a project that I can use to repo the issue?

[2019-04-05 21:54] pasin commented on #1899
I'm closing this issue so let continue discussing in #1904.

[2019-04-05 21:54] #1899 closed

[2019-04-05 21:54] bmeike commented on #1890
Done

[2019-04-05 21:54] #1890 closed

[2019-04-05 21:55] bmeike commented on #1885
@borrrden  fixed this

[2019-04-05 21:55] #1885 closed

[2019-04-06 16:19] K-Leon commented on #1904
I'm currently trying to extract a testcase - no luck until now.

The following things I learned:
a) It happens while opening Database. No n1ql - just opening the database results in a crash after coming from 2.1.x
b) it only happens if i start it from a crowded chan with a LOT of deletions and revisions.

Does this help further?

[2019-04-06 22:35] K-Leon commented on #1904
Some more information:

I was trying to build a scrubbed database without significant success. It seems to be related to the actual data size involved while upgrading the database. i have a json doc something around 2,5k lines i tried tu cut down. At some point whatever element i dropped this causes the "upgrade step" to work - i'm afraid providing a database couldn't be necessarily enough. Intere

[2019-04-07 05:12] pasin commented on #1904
From the stack trace that you posted before, it doesn't seem to be related to memory, but I might be wrong. If you can produce a database that I can test, please send it to pasin @ couchbase.com.

@borrrden From 2.1.x to Iridium, does it need to perform database upgrade?

[2019-04-07 16:22] K-Leon commented on #1904
I managed to produce something. I hope it fails with your device too - i just shot the file.

[2019-04-08 19:12] pasin commented on #1904
Thanks for the database file. I was able to reproduce the issue when using iridium.

[2019-04-08 22:33] pasin commented on #1904
@K-Leon If you select only fields or keys that you want to use, instead of ALL, will you have the same issue?

[2019-04-09 05:20] pasin commented on #1904
The document that has the issue is `tour:906954`. I have tested with CBL-iOS and it seems like the raw data is either corrupted or is not compatible with CBL 2.5.0 (Iridium). The following Objective-C code failed when validating the raw data while getting the document with ID:

[code]

Trace:
[code]

Log:
[code]

[2019-04-09 05:58] K-Leon commented on #1904
One thing that makes me wonder: syncing and using the exact same channel with iridium works. Also syncing and using it with 2.1 is successful. Just upgrading it to iridium after syncing results in sigsegv.

I guess there is more on it then just an incompatible document. (It‘s vanilla node js JSON regenerated multiple times and added to CB 6.X - nothing

[2019-04-09 06:01] borrrden commented on #1904
@snej Are there any subtle Fleece changes that could cause a database created via 2.1, then opened with Iridium, to behave in such a way that it fails to parse?  Shared key business?

[2019-04-09 06:41] borrrden commented on #1904
Noticed this message that is still going directly to `stderr`:

[2019-04-09 20:27] pasin commented on #1904
Ref: https://github.com/couchbaselabs/fleece/issues/45

[2019-04-10 01:05] bmeike commented on #1896
fixed in https://github.com/couchbase/couchbase-lite-java/pull/105

[2019-04-10 01:05] #1896 closed

[2019-04-10 04:33] pasin commented on #1904
I have verified that the issue has been fixed.

[2019-04-10 04:33] #1904 closed

[2019-04-10 19:19] bmeike opened #1906 "Expose retryability for CBLError"
Some CBLErrors are fatal, some are retriable.  We should expose the difference.

[2019-04-17 15:12] bmeike commented on #1906
Done in commits to multiple repos (cbl-android, cbl-android-ee, cbl-java), on 4/16

[2019-04-17 15:12] #1906 closed

[2019-04-29 08:58] achintdigiscribe commented on #1786
@pasin Any Updates on the issue. Because I am tired of this issue from past one and half year. If I will not get any solution I have to move on to another platform.

[2019-04-29 10:22] K-Leon opened #1907 "CBLite use of deleted global reference 0x200ce6 after java.io.EOFException"
First of thanks for your hard work.

I just stumbled upon a "rare" issue - in some error conditions related to a flaky connection the device seems to crash randomly.

I'm using Iridium Build right now.

Luckily it happens on our Debug App Version so i have a pretty good log about what was going on.

https://gist.github.com/K-Leon/82139c4ddd4e053b7fa278580dc338e9

Best Regards,
Leon

[2019-04-29 16:25] pasin commented on #1786
@achintdigiscribe  I'm very sorry for the late response. The issue somehow is scheduled to Cobalt release so I have overlooked the issue. I have just run the app you sent but it seemed like the remote host is not reachable.

[code]

By any chance that you can start the server again?

[2019-04-29 21:07] pasin opened #1908 "Replicator Conflict Resolver Implementation"
- [x] Define ConflictResolver interface
- [x] Add ReplicatorConfiguration’s conflictResolver property
- [ ] Extract default conflict resolution into ConflictResolution.default
- [ ] Implement custom conflict resolution logic in the replicator
  - Ensure that the custom conflict resolver is called outside transaction
  - The conflict resolver might be called multiple time if the conflict occurs aga

[2019-04-29 21:08] pasin opened #1909 "Replicator Conflict Resolver Unit Tests"
- [ ] Make sure the resolver is called when setting a resolver in the ReplicatorConfiguration, and saved the correct document based on what the resolver returns: local document, remote document, new document, and null document (deleted).
- [ ] Make sure the default conflict resolve is used if the resolver is not set in the ReplicatorConfiguration.
- [ ] Make sure the conflict resolution property i

[2019-04-29 21:09] pasin opened #1910 "Database Save Conflict Handler Implementation"
- [x] Define ConflictHandler Interface or Block
- [ ] Implement a new save method that takes the conflict handler
  - Ensure that the custom conflict handler is called outside transaction / lock
  - The conflict handler might be called multiple time if the conflict occurs again when saving the resolved document into the database
- [ ] Ensure to capture an exception and re-throw to the save() metho

[2019-04-29 21:09] pasin opened #1911 "Database Save Conflict Handler Unit Tests"
- [ ] Check whether the save conflict is calling the conflict handler and saving the appropriate document.
- [ ] ConflictHandler returning true and false, making sure, both are handled correctly.
- [ ] After one conflict is resolved, there could be another conflict happen. Make sure that the conflict handler is called again.

[2019-05-02 05:52] achintdigiscribe commented on #1786
@pasin This server is already active.

you can check Sync URLs in the utils>constants as well.

[2019-05-02 23:04] K-Leon commented on #1907
I had the same issue again - seems to be related to connection switches. ( Just turned on WIFI )

[2019-05-06 15:48] bpolanec opened #1912 "replicator crash"
Crash in : com.couchbase.lite:couchbase-lite-android:2.5.0

after continuous replicators work for a while crash happens.
I can reproduce it every time.

Log:
[code]

[2019-05-06 18:22] bmeike commented on #1912
It appears that this comment, in the current code, incorrect:
[code]
It is neither a heisenbug, nor was it introduced in 3/13/2019!

[2019-05-06 22:56] K-Leon commented on #1912
I'm seeing exact same crash: https://github.com/couchbase/couchbase-lite-android/issues/1907

[2019-05-07 18:49] pasin opened #1913 "Change to the WebSocket Timeout in in LiteCore"
Per this https://github.com/couchbase/couchbase-lite-ios/pull/2447, the WebScoket implementation in LiteCore has implemented the timeout. To avoid conflict or duplication, we should disable WebSocket (read/write) timeout from the platform code. If it cannot be disabled, we probably need to set it to be longer that what LiteCore is using.

[2019-05-08 02:28] pasin opened #1914 "Logging in Java JNI doesn't use C4Log"
From review some JNI codes today, I noticed that logging in JNI code has its own logging which will log only to Android's logcat. The JNI log should call into C4Log so that the log messages can go to console/file/custom log correctly.

[2019-05-08 02:37] pasin commented on #1912
From the log, look like they are multiple logs of the same but with different handle objects. Not sure which scenario is causing this.

[code]

[2019-05-08 03:15] pasin commented on #1912
I think @bmeike has already handled multiple handles in his PR.

[2019-05-08 06:24] achintdigiscribe commented on #1786
@pasin have you able to run the code now because all URLs are active?

Regards,
Achint Sarkar

[2019-05-08 07:34] bpolanec commented on #1912
@pasin yep I have multiple replicators running at time of crash:

**pull replicators:**
Replicator[<* Database@437dced{name='db_one'} URLEndpoint{url=wss://myproject.com:6986/ag-dev}]
1 channel registered
continuous pull

Replicator[<* Database@8425ae9{name='db_one'} URLEndpoint{url=wss://myproject.com:6986/ag-dev}]
5 channels registered.
continuous pull

**push replicators:**
Replicator[*> Databa

[2019-05-08 14:58] pasin commented on #1786
I have tried it just now. I was able to see the replicator connecting to SG but the connection kept getting closed by peer which is SG. Do you see any errors on SG console / logs? I tried with both CBL 2.1.0 and 2.5.0 and I haven't seen the crash yet. Probably I didn't get to the crash point.

[2019-05-08 15:01] pasin commented on #1786
If there is no error on SG log, you might check your network configuration (e.g. load balancer, proxy, and etc) to make sure that WebSocket is supported.

[2019-05-08 15:03] pasin commented on #1786
@bmeike Can you take a look at the issue from here?

[2019-05-08 15:16] geraldapeoples commented on #1912
I have been migrating my code to 2.5 and haven't experienced this issue so far, it is a bit worrying though so I am keen to know that it is resolved before making my update live. Are you able to provide a timeframe for a fix for this?

[2019-05-08 16:48] bmeike commented on #1913
FIled against the wrong repo.  Replaced by https://github.com/couchbase/couchbase-lite-java/issues/110

[2019-05-08 16:48] #1913 closed

[2019-05-08 17:07] bmeike commented on #1914
Issue is now tracked in https://github.com/couchbase/couchbase-lite-java/issues/112

[2019-05-08 17:07] #1914 closed

[2019-05-08 17:17] snej commented on #1786
There were several important replicator fixes in 2.5 so it would be good to retry with that.

Does this crash depend on there being specific documents on the server? It looks like something that might be triggered by some specific JSON in a document.

FYI, I'm sorry it's taken us a while to look into this, but you say you've been having this issue since late 2017. I'm curious about that because it

[2019-05-08 17:20] snej commented on #1786
This looks like a LiteCore crash. The backtrace is:
[code]

[2019-05-08 23:44] bmeike commented on #1907
Duplicate of https://github.com/couchbase/couchbase-lite-java/issues/114.  The issue is being tracked there...

[2019-05-08 23:44] #1907 closed

[2019-05-09 00:35] euniceatcouchbase opened #1915 "[Android][Build 2.1.5-3] Query test "select" failed with float number"
Functional test case "test_getDoc_withValueTypeDouble[doc_with_double_1]" failed while selecting a float number from the db.

Repro Steps:
1. unzip and use the attached cblite2 database file,
[db_name.cblite2.zip](https://github.com/couchbase/couchbase-lite-android/files/3159761/db_name.cblite2.zip)
2. use cblite tool to select item_price == 2.754

Expected result:
return 1 row of data which has i

[2019-05-09 01:00] snej commented on #1915
The number `2.754` can't be represented exactly in binary floating point, so there will be roundoff error. This can result in equality tests failing, depending on how the number got rounded by various pieces of code during ASCII–binary conversions. In particular, converting "2.754" to a float isn't going to give the same result as converting it to a double, so comparing the two types will fail.

t

[2019-05-09 05:31] achintdigiscribe commented on #1786
@snej Yes, I have same issues in 2.0 as well. I am using couchbase lite since your 1.1.0 couchbase lite release. but this is the first time. wherein two continuous release version I am getting a native crash issue. I reported this same issue to **Priya** earlier.

[2019-05-09 05:43] achintdigiscribe commented on #1786
@snej I also want to add one more thing. I am getting this issue since you implemented the new protocol(**ws protocol**) in the replicator. From that version onwards I am getting this crash issue. before 2.0 with HTTP protocal, I am not getting such issues. I am on production with 1.6 version currently with no issues. But I want to upgrade my self in 2.x version. Because I saw its good query perfo

[2019-05-09 05:47] achintdigiscribe commented on #1786
I also implement sync_gateway 2.5. Its working fine with 1.6 but getting same issues with 2.0. the sync URLs that I have given you are on sync gateway 2.5 version.

[2019-05-09 06:07] achintdigiscribe commented on #1786
I used the following devices which leads me to crash:- Lenovo yoga tab 2, Samsung Galaxy S6 and Samsung Galaxy Tab s3.

[2019-05-09 19:29] bmeike commented on #1915
I think I'm gonna make like a lawyer and counter-sue.  I'm gonna open an issue against the test!

[2019-05-09 19:36] bmeike commented on #1915
As described, this isn't a bug.  If there is still a problem after accounting for roundoff error, please open a new issue.

[2019-05-09 19:36] #1915 closed

[2019-05-09 20:11] euniceatcouchbase commented on #1915
Tested with a test framework fix from Sridevi's working-in-progress branch, which handles this issue.

[2019-05-10 17:46] bmeike opened #1916 "Android specific replication using WorkManager"
In order to avoid Android's draconian battery saving tactics, replication should be scheduled using Android's WorkManager.

Android devs should be discouraged from using continuous replication, ever, because it won't work.

[2019-05-13 07:29] RocketRider commented on #1916
What is the reason, why you think continuous replication won't work?
With a foreground service there should be no issue, or am I missing something?

[2019-05-13 12:26] MatFl opened #1917 "Replicator does not handle "connection refuse" errors"
Using CBL 2.5 we observed some crashes and strange behavior with continuous replication.

1. When the server itself is reachable, but the service is stopped, the client receives connection refuse errors.
`E/CouchbaseLite/REPLICATOR: {Repl#1} Got LiteCore error: POSIX error 111 "Connection refused"`
The replicator then never enters STOPPED status, but keeps trying to reconnect without any backoff t

[2019-05-13 16:31] bmeike commented on #1916
I don't think you are missing anything except, sort of, the intention of continuous integration.  You are definitely right that a foreground service would "work".  I don't think, though that it is what most developers will want: a notification in the user's face, that she can stop at random times.  The intention of continuous replication is that the local DB is kept up-to-date, "in the background"

[2019-05-20 13:45] lemonteazhang commented on #854
@hideki hi hideki,could you help me for this?ANR happens at this time but I don't know what went wrong.

----- pid 13696 at 2019-05-16 21:31:11 -----
Cmd line: com.tencent.wecarnavi

suspend all histogram:	Sum: 15.720ms 99% C.I. 0.012ms-14.604ms Avg: 1.572ms Max: 15.354ms
DALVIK THREADS (18):
"main" prio=5 tid=1 Runnable
  | group="main" sCount=0 dsCount=0 flags=0 obj=0x73d65f60 self=0xea6c8000

[2019-05-21 12:35] RocketRider opened #1918 "Crash when trying to profile the app"
I am using an Android 8.1 device (arm-v7), Couchbase Lite 2.5, AGP and AS 3.4.1. When I try to profile the app, the app crashes within the cb-lite JNI lib.
The crash occurs when I write something to the DB.
[code]

As it does only occur if the AS profiler is running, I did also report it to google:
https://issuetracker.google.com/issues/133166400

[2019-05-22 19:52] rafaelrodriguez342 opened #1919 "java.lang.UnsatisfiedLinkError CB 2.5 when making unit tests"
Unit tests not working anymore when upgrading to 2.5 couchbase, Document and Database class cannot be mocked see relate
`java.lang.UnsatisfiedLinkError: com.couchbase.litecore.C4Log.setLevel(Ljava/lang/String;I)V
at com.couchbase.litecore.C4Log.setLevel(Native Method)
at com.couchbase.lite.FileLogger.setupDomainObjects(FileLogger.java:101)
at com.couchbase.lite.FileLogger.(FileLogger.java:47)
at c

[2019-05-23 07:04] RocketRider commented on #1918
I can reproduce it with the sample from couchbase.
I had to change two things:
1. Change the ARM version to v7, with ARMv8 it did not crash.
2. add a write operation to the sample.
My Fork: https://github.com/RocketRider/mobile-travel-sample

Now I can reproduce the issue with the following steps:
1. Start the App
2. Add Profiler
3. Click on "Proceed as guest"

Tested with following devices:
CAT S

[2019-05-23 15:42] Sandychuang8 commented on #1918
Thanks Michael for all these detail steps to reproduce. I will look into it and get back to you as soon as I have an answer.
-Sandy

[2019-05-23 16:38] bmeike commented on #1918
The documentation here:

https://docs.couchbase.com/tutorials/mobile-travel-sample/csharp/installation/travel-mobile-app.html

Explains how to avoid this problem.

[2019-05-23 17:00] bmeike commented on #1918
Michael, can we get about double that much of the logcat, on either side of the failure?  We don't have any of the specific devices on which you are causing the crash.

[2019-05-24 05:02] RocketRider commented on #1918
Thank you for looking into it.
I guess it will crash on any Android 8+ device with an arm cpu.

Here is the full log from starting the app until the crash:
[profiler-crash.txt](https://github.com/couchbase/couchbase-lite-android/files/3215164/profiler-crash.txt)

[2019-05-31 15:29] vander2675 opened #1920 "Just observe if changes happen to a Query."
Hello,
Currently I’m implementing the Data Source Objects from the Paging Library in the Android Jetpack Components in combination with Couchbase Lite for Android.

For this to work I need a notification from Couchbase that the Result of an Query changed, without loading the Properties into memory.

Is this possible with the current accessible methods?

Thank you very much in Advance

[2019-06-04 12:53] hrajput89 opened #1921 "CBL 2.5.0 is not able to migrate db for 1.4"
TestServer App crashes while loading CBL 1.4 db.

### Python client logs -
[python_client.log](https://github.com/couchbase/couchbase-lite-android/files/3252427/python_client.log)

### CBL logs -

[logs_1559652425.zip](https://github.com/couchbase/couchbase-lite-android/files/3252428/logs_1559652425.zip)

Test command -

1. git clone https://github.com/couchbaselabs/mobile-testkit.git
2. git check

[2019-06-04 18:42] euniceatcouchbase commented on #1921
the python log shows the code failed at db.create, didn't see how it's related to the database file-copy in the code?

[2019-06-05 03:42] hrajput89 commented on #1921
Yes, I've checked.
Create method works like this - if a db with that name doesn't exist than it creates a db with that name and returns db object. If db with the given name exist, it just open up (in case db is of lower cal version, it tries to migrate it) and returns db object. If you check the logs, it was migrating cbl-1.4 db to 2.5, when it crashed. For much more clarity I've added add log.

I

[2019-06-07 21:20] bmeike commented on #1920
Hey @vander2675 ,
I'm not sure I understand what you are trying to do.  Which "properties" do you want to avoid loading?

[2019-06-07 21:25] #1886 closed

[2019-06-07 21:25] #1891 closed

[2019-06-07 21:25] #1897 closed

[2019-06-07 21:25] #1898 closed

[2019-06-07 21:26] #1876 closed

[2019-06-07 22:41] #1787 closed

[2019-06-07 22:42] #1773 closed

[2019-06-07 22:43] #1679 closed

[2019-06-07 22:43] #1714 closed

[2019-06-07 22:43] #1717 closed

[2019-06-07 22:43] #1732 closed

[2019-06-07 22:44] #1554 closed

[2019-06-07 22:44] #1893 closed

[2019-06-07 22:59] #1908 closed

[2019-06-07 22:59] #1909 closed

[2019-06-07 22:59] #1910 closed

[2019-06-07 22:59] #1911 closed

[2019-06-07 23:03] #1916 closed

[2019-06-07 23:05] bmeike commented on #1918
@RocketRider I am moving this issue to the couchbase-lite-android-ce repo.  Please follow it there

[2019-06-07 23:09] bmeike commented on #1919
Moving this issue to the couchbase-lite-android-ce repository.  Please follow it there.

[2019-06-07 23:10] bmeike commented on #1920
Moving this issue to the couchbase-lite-android-ce repository.  Please follow it there.